@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Quicksand:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.technologies {
    display: flex;
}

.tech-tag {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.Experience {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 100px;
}

.experience-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.container-div {
    display: flex;
    flex-direction: row;
}

.resume,
.github,
.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: 1.1rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    background-color: var(--component-hover-background);
    color: white;
    border: 2px solid transparent;
    margin: 10px;
}

.resume svg,
.github svg,
.linkedin svg {
    font-size: 20px;
    margin-right: 10px;
}

.experience-top {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: flex-start;
    color: var(--text-color);
}

.experience-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: var(--component-background);
    border-radius: 12px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--text-color);
    font-family: 'Outfit', sans-serif;
}

.company {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: fit-content;
    justify-content: space-between;
    width: 100%;
    font-size: 1.8rem;
    color: var(--icon-color);
}

#company-logo{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 230px;
    background-color: var(--component-background);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#duration {
    display: flex;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

#description {
    display: flex;
    font-size: 1.2rem;
}

#position{
    color: var(--icon-color);
    font-size: 2.0rem;
}

.experience-item:hover #company-name,
.experience-item:hover #position,
.experience-item:hover #duration,
.experience-item:hover #description,
.experience-item:hover #company-logo {
    color: white;
    transition: 0.3s ease-in;
}

.experience-item:hover {
    background-color: var(--component-hover-background);
    transition: 0.3s ease-in;
    color: white;
    cursor: pointer;
}

#experience-tooltip{
    flex-direction: row;
    background-color: var(--background-secondary) !important;
    border-radius: 10px !important;
    color: var(--text-color);
    font-size: 1.0rem;
    font-weight: 500;
}

@media(min-width: 750px) and (max-width: 1000px) {

    .Experience {
        width: 100%;
        height: fit-content;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .experience-heading {
        line-height: 3.5rem;
        padding: 10px;
    }

    .experience-list {
        width: 80%;
    }

    .experience-item {
        width: 100%;
    }

    #company {
        line-height: 2.5rem;
        font-size: 1.7rem;
        padding-bottom: 10p;
    }


    #description {
        font-size: 1.0rem;
    }
}

@media(min-width: 300px) and (max-width: 750px) {

    .Experience {
        width: 100%;
        height: fit-content;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .experience-heading {
        line-height: 3.2rem;
        margin-bottom: 10px;
    }

    .experience-list {
        width: 80%;
    }

    .experience-item {
        width: 100%;
        flex-direction: column;
        height: fit-content;
        padding: 10px;
        margin-bottom: 20px;
    }

    .company {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 2.5rem;
        font-size: 1.5rem;
        padding-bottom: 10p;
    }

    #position{
        font-size: 1.4rem;
    }

    #description {
        font-size: 1.0rem;
    }

    .resume,
    .github,
    .linkedin {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
        font-size: 1.0rem;
        padding: 10px;
        cursor: pointer;
        border-radius: 30px;
        background-color: var(--component-hover-background);
        color: white;
        border: 2px solid transparent;
        margin: 3px;
    }

    .resume svg,
    .github svg,
    .linkedin svg {
        font-size: 15px;
        margin-right: 10px;
    }
}