.react-activity-calendar__tooltip {
  width: max-content;
  max-width: calc(100vw - 20px);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  background-color: hsl(0 0% 10%);
  color: hsl(0 0% 94%);
  font-size: 13px;

  .react-activity-calendar__tooltip-arrow {
    fill: hsl(0 0% 10%);
  }

  &[data-color-scheme='dark'] {
    background-color: hsl(0 0% 94%);
    color: hsl(0 0% 6%);

    .react-activity-calendar__tooltip-arrow {
      fill: hsl(0 0% 94%);
    }
  }
}

#commit-graph,
#commit-graph .react-activity-calendar {
  width: 100% !important;
  max-width: 100% !important;
}

#commit-graph svg {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
  display: block;
}

#commit-graph>div {
  width: 100% !important;
}

[data-theme="dark"] .react-activity-calendar rect[data-level="0"],
[data-theme="dark"] .react-activity-calendar__graph rect[data-level="0"] {
  fill: #0f0f0f !important;
}

[data-theme="dark"] .react-activity-calendar rect[data-level="1"],
[data-theme="dark"] .react-activity-calendar__graph rect[data-level="1"] {
  fill: rgba(140, 57, 255, 0.22) !important;
}

[data-theme="dark"] .react-activity-calendar rect[data-level="2"],
[data-theme="dark"] .react-activity-calendar__graph rect[data-level="2"] {
  fill: rgba(161, 94, 255, 0.44) !important;
}

[data-theme="dark"] .react-activity-calendar rect[data-level="3"],
[data-theme="dark"] .react-activity-calendar__graph rect[data-level="3"] {
  fill: rgba(167, 106, 255, 0.7) !important;
}

[data-theme="dark"] .react-activity-calendar rect[data-level="4"],
[data-theme="dark"] .react-activity-calendar__graph rect[data-level="4"] {
  fill: #a871f1 !important;
}

[data-theme="light"] .react-activity-calendar rect[data-level="0"],
[data-theme="light"] .react-activity-calendar__graph rect[data-level="0"] {
  fill: #f3f3f3 !important;
}

[data-theme="light"] .react-activity-calendar rect[data-level="1"],
[data-theme="light"] .react-activity-calendar__graph rect[data-level="1"] {
  fill: #a473fa !important;
}

[data-theme="light"] .react-activity-calendar rect[data-level="2"],
[data-theme="light"] .react-activity-calendar__graph rect[data-level="2"] {
  fill: #dcc2ff !important;
}

[data-theme="light"] .react-activity-calendar rect[data-level="3"],
[data-theme="light"] .react-activity-calendar__graph rect[data-level="3"] {
  fill: #c299ff !important;
}

[data-theme="light"] .react-activity-calendar rect[data-level="4"],
[data-theme="light"] .react-activity-calendar__graph rect[data-level="4"] {
  fill: #a871f1 !important;
}

[data-theme="light"] .react-activity-calendar__tooltip {
  background-color: hsl(0 0% 94%);
  color: hsl(0 0% 6%);
}

[data-theme="light"] .react-activity-calendar__tooltip .react-activity-calendar__tooltip-arrow {
  fill: hsl(0 0% 94%);
}